In [ ]:
#Import file
import pandas as pd
df = pd.read_csv('Product_tokped.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4060 entries, 0 to 4059
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Review     4060 non-null   object
 1   Rating     4060 non-null   int64
 2   Sentiment  4060 non-null   object
dtypes: int64(1), object(2)
memory usage: 95.3+ KB

In [ ]:
df.head()

                                              Review  Rating Sentiment
0                                      enak kuacinya       5  positive
1  pengiriman cepat packing bagus sesuai pesanan ...       5  positive
2  pengemasan luar biasa baik untuk rasa menurut ...       4  negative
3                                    terimakasih min       5   neutral
4                 udah order untuk kesekian kali jos       5   neutral

In [ ]:
df = df.drop(columns=['Rating'])

In [ ]:
category = pd.get_dummies(df.Sentiment)
df_baru = pd.concat([df, category], axis=1)
df_baru = df_baru.drop(columns='Sentiment')
df_baru

                                                 Review  ...  positive
0                                         enak kuacinya  ...         1
1     pengiriman cepat packing bagus sesuai pesanan ...  ...         1
2     pengemasan luar biasa baik untuk rasa menurut ...  ...         0
3                                       terimakasih min  ...         0
4                    udah order untuk kesekian kali jos  ...         0
...                                                 ...  ...       ...
4055  seller sangat responsif rasa belum dicoba kare...  ...         0
4056                          imut2 banget packing aman  ...         1
4057                        good product trusted seller  ...         1
4058                                 sudah beli yg ke 3  ...         0
4059                                    byk campurannya  ...         0

[4060 rows x 4 columns]

In [ ]:
review = df_baru['Review'].values
label = df_baru[['negative', 'neutral', 'positive']].values

In [ ]:
from sklearn.model_selection import train_test_split
review_latih, review_test, label_latih, label_test = train_test_split(review, label, test_size=0.2)

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(review_latih) 
tokenizer.fit_on_texts(review_test)
 
sekuens_latih = tokenizer.texts_to_sequences(review_latih)
sekuens_test = tokenizer.texts_to_sequences(review_test)
 
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

In [ ]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(3, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
num_epochs = 30
history = model.fit(padded_latih, label_latih, epochs=num_epochs, 
                    validation_data=(padded_test, label_test), verbose=2)

Epoch 1/30
102/102 - 13s - loss: 0.8026 - accuracy: 0.7109 - val_loss: 0.6709 - val_accuracy: 0.7143
Epoch 2/30
102/102 - 10s - loss: 0.5214 - accuracy: 0.7799 - val_loss: 0.5794 - val_accuracy: 0.7709
Epoch 3/30
102/102 - 10s - loss: 0.3410 - accuracy: 0.8725 - val_loss: 0.5265 - val_accuracy: 0.7931
Epoch 4/30
102/102 - 10s - loss: 0.2107 - accuracy: 0.9252 - val_loss: 0.5163 - val_accuracy: 0.8103
Epoch 5/30
102/102 - 10s - loss: 0.1400 - accuracy: 0.9566 - val_loss: 0.6613 - val_accuracy: 0.7968
Epoch 6/30
102/102 - 10s - loss: 0.1032 - accuracy: 0.9683 - val_loss: 0.6700 - val_accuracy: 0.7980
Epoch 7/30
102/102 - 10s - loss: 0.0807 - accuracy: 0.9760 - val_loss: 0.7506 - val_accuracy: 0.7993
Epoch 8/30
102/102 - 10s - loss: 0.0676 - accuracy: 0.9781 - val_loss: 0.8291 - val_accuracy: 0.7968
Epoch 9/30
102/102 - 10s - loss: 0.0534 - accuracy: 0.9797 - val_loss: 0.9615 - val_accuracy: 0.7919
Epoch 10/30
102/102 - 10s - loss: 0.0486 - accuracy: 0.9837 - val_loss: 1.0203 - val_accuracy: 0.7919
Epoch 11/30
102/102 - 10s - loss: 0.0640 - accuracy: 0.9781 - val_loss: 0.9704 - val_accuracy: 0.7869
Epoch 12/30
102/102 - 10s - loss: 0.0529 - accuracy: 0.9784 - val_loss: 1.1103 - val_accuracy: 0.7857
Epoch 13/30
102/102 - 10s - loss: 0.0504 - accuracy: 0.9812 - val_loss: 1.1328 - val_accuracy: 0.7956
Epoch 14/30
102/102 - 10s - loss: 0.0548 - accuracy: 0.9818 - val_loss: 1.0860 - val_accuracy: 0.7906
Epoch 15/30
102/102 - 10s - loss: 0.0423 - accuracy: 0.9840 - val_loss: 1.1722 - val_accuracy: 0.7894
Epoch 16/30
102/102 - 10s - loss: 0.0347 - accuracy: 0.9880 - val_loss: 1.3610 - val_accuracy: 0.7943
Epoch 17/30
102/102 - 10s - loss: 0.0349 - accuracy: 0.9868 - val_loss: 1.2938 - val_accuracy: 0.7845
Epoch 18/30
102/102 - 10s - loss: 0.0322 - accuracy: 0.9883 - val_loss: 1.4037 - val_accuracy: 0.7845
Epoch 19/30
102/102 - 10s - loss: 0.0288 - accuracy: 0.9901 - val_loss: 1.3532 - val_accuracy: 0.7906
Epoch 20/30
102/102 - 10s - loss: 0.0303 - accuracy: 0.9892 - val_loss: 1.4601 - val_accuracy: 0.7709
Epoch 21/30
102/102 - 10s - loss: 0.0288 - accuracy: 0.9883 - val_loss: 1.4599 - val_accuracy: 0.7808
Epoch 22/30
102/102 - 10s - loss: 0.0257 - accuracy: 0.9905 - val_loss: 1.6338 - val_accuracy: 0.7611
Epoch 23/30
102/102 - 10s - loss: 0.0280 - accuracy: 0.9883 - val_loss: 1.5760 - val_accuracy: 0.7746
Epoch 24/30
102/102 - 10s - loss: 0.0256 - accuracy: 0.9892 - val_loss: 1.7600 - val_accuracy: 0.7672
Epoch 25/30
102/102 - 10s - loss: 0.0219 - accuracy: 0.9908 - val_loss: 1.7531 - val_accuracy: 0.7463
Epoch 26/30
102/102 - 10s - loss: 0.0242 - accuracy: 0.9905 - val_loss: 1.7983 - val_accuracy: 0.7697
Epoch 27/30
102/102 - 10s - loss: 0.0208 - accuracy: 0.9901 - val_loss: 2.0512 - val_accuracy: 0.7574
Epoch 28/30
102/102 - 10s - loss: 0.0208 - accuracy: 0.9898 - val_loss: 2.0475 - val_accuracy: 0.7672
Epoch 29/30
102/102 - 10s - loss: 0.0206 - accuracy: 0.9895 - val_loss: 1.9703 - val_accuracy: 0.7611
Epoch 30/30
102/102 - 10s - loss: 0.0188 - accuracy: 0.9908 - val_loss: 2.0909 - val_accuracy: 0.7771